<div>

	<iframe width="93%" height="75" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=&width=0&height=75&fansRow=2&ptype=1&speed=0&skin=5&isTitle=0&noborder=0&isWeibo=0&isFans=0&uid=3066390623&verifier=4dae97e6&dpc=1"></iframe>


	<div class="home-contact">
            <a href="http://weibo.com/longstreetcc/" target="_blank" style="margin-left:-5px;"><img src="/images/weibo.jpg" alt="" width="25"/></a>
            <a href="https://github.com/longstreetcc" target="_blank" style="margin-left:-5px;"><img src="/images/github.jpg" alt="" width="25"/></a>
            <a href="/atom.xml" target="_blank" style="margin-left:-5px;"><img src="/images/feed.jpg" alt="" width="25"/></a>
            <a href="mailto:{{site.owner.email}}" target="_blank" style="margin-left:-5px;"><img src="/images/mail.jpg" alt="" width="25"/></a>

    </div>


</div>





